[Unit]
Description=Homework Web Panel
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/rkobyakov/homework-bot
ExecStart=/root/rkobyakov/homework-bot/venv/bin/python web.py
Restart=on-failure
RestartSec=5
EnvironmentFile=/root/rkobyakov/homework-bot/.env

[Install]
WantedBy=multi-user.target
