[Unit]
Description=Homework Telegram Bot
After=network.target

[Service]
Type=simple
User=YOUR_LINUX_USER
WorkingDirectory=/home/YOUR_LINUX_USER/homework-bot
ExecStart=/home/YOUR_LINUX_USER/homework-bot/venv/bin/python bot.py
Restart=on-failure
RestartSec=5
EnvironmentFile=/home/YOUR_LINUX_USER/homework-bot/.env

[Install]
WantedBy=multi-user.target
